<% include layouts/header.ejs %>
<title>Documentation</title>
<script>
      document.getElementById("title").innerHTML= "Documentation";
</script>

<div class="row">
    <div class="col-md-12 p-2">
        
    </div>
</div>