<% include layouts/header.ejs %>
<title>Device</title>
<script>
      document.getElementById("title").innerHTML= "Device";
</script>

<div class="row">
      <div class="col-md-12 p-2">
              <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalScrollable">
  Launch demo modal
</button>

<!-- Modal -->

      </div>
</div>
<% include layouts/footer.ejs %>


